html {
    min-height: 100%;
    display: grid;
}
body {
    background: black;
    display: grid;
    overflow: hidden;
}
button {
    font-family: cursive;
    border: 0;
    background: whitesmoke;
    height: 40px;
    width: 48px;
    border-radius: 20px;
}
.current {
    background: whitesmoke;
    font-family: 隶书;
    font-size: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
}
#player {
    background: white;
    position: relative;
    margin: auto;
    width: 320px;
    height: 500px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 15px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#id-audio-player{
    height: 30px;
    margin:  10px;

    border-radius: 10px;
    font-family: font;

}
#id-div-music {
    position: relative;
    top: 10px;
    font-family: 隶书;
    font-size: 20px;
}
.music {
    border-radius: 10px;
    margin: 10px;
    background: whitesmoke;
}
.song {
    font-family: arial;
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.time {
    display: none;
}